html,body
{
    background-color: #11337B;
    margin: 0px;
    padding: 0px;
    }

.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 6px;
  width: 99%;
  z-index: 6;
}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
    

.container{
	position: relative;
	width: 100%; 
}
.container .section{
	position: sticky;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #000;
}
.container .section:nth-child(1){
	background-image: url("photo3.jpg");
  background-color: #6486D3;
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 3.7s;
  border-top: 1px solid #25686B;
  z-index: 3;
}

.container .section:nth-child(2){
  background-image: url("photo-1512799545738-0625ef92a288.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 3;}
.container .section:nth-child(3){
  background-image: url("photo-1512799545738-0625ef92a288.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 68%;
  background-attachment: fixed;
  z-index: 4;}
.container .section:nth-child(4){
  background-image: url("sky.png");
  background-color: white;
  background-size: 100% 150%;
  height: 65vh;
  position: sticky;
  top: -150vh;
   border-bottom: 1px solid white;
  border-top: 1px solid black;
  z-index: 5;}
.container .section:nth-child(5){
  background-image: url("photo-1499092346589-b9b6be3e94b2.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 4;}
.container .section:nth-child(6){
  background-image: url("photo1.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 5;}

.about{
  height: 10vh;
}
.box1{
  position: absolute;
  top: 3%;
  left:  14%;
  padding: 0px;
  margin: 0px;
  background-color:rgba(252, 252, 252, 0.2);}
.box2{
  position: absolute;
  top: 9%;
  right: 10%;
  font-size: 22px;
  background-color:rgba(252, 252, 252, 0.2);
}
h1{
  font-family: 'Times New Roman', serif;
  font-weight: 800;
  border-bottom: 2px solid brown;
  width: 310px;
  font-size: 40px;
background: -webkit-linear-gradient(black, #3A5DA9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.arrow{
  position: absolute;
  top: 17%;
  right: 10%;
}
table, td, th {  
  border: 1px solid #25686B;
  text-align: left;}
table {
  display: block;
    overflow-x: auto;
  position: absolute;
  top: 23%;
  left: 9%;
  border-collapse: collapse;
  width: 82%;
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 4px 2px #25686B;
  }
th, td {
  padding: 12px;
}
th{ background-color: white;
   font-family: 'Times New Roman', serif;
    text-align: center; 
    font-size: 25px;}
td{
    color: rgba(0, 0, 0, 1);
    text-align: center;
    text-shadow: 2px 2px 2px white;
  font-family: 'Times New Roman', serif;
  font-size: 25px;
  line-height: 32px;
}

.item5_1 {
  position: relative;
  top: 660px;
  height: 75px;
    background-color: white;
}
.item5_1>ol>li a{
  position: relative;
  top: 18px;
color: rgba(33, 38, 43, 0.8);
}
.item5_1>ol>li a:hover {
  background-color: white;
}
.item5_1>ol>.copyright{
  position: absolute;
  top: 15px; 
}

ol{
list-style-type: none;
}

.copyright{
  position: absolute;
  right: 152px; 
}
.copyright>a{
  color: #FF5913;
}

.about2{
  position: relative;
  width: 100%;
  height: 100%;
}

.WordsPuzzle_DARK_BLUE2{
position: relative;
top: 10vh;
left: 70%; 
}

.box3{position: absolute;
  top: -42%;
  left: 3%;
   background-color: rgba(252, 252, 252, 0.5);
  width: 900px;
  height: 600px;
  border: 4px solid black;
  padding: 20px;
  margin: 10px;
}
.page{
	position: relative;
	top: -20px;
	left: 820px;
}
.box3>.h1{ position: relative;
	top: -5vh; }
.h1{ font-family: 'Times New Roman', serif;
    color: #02304B;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.4;}
p{
  position: relative;
  top: -60px;
  font-family: 'Times New Roman', serif;
  font-size: 26px;
}
.box4>ol>li{
  font-size: 23px;
  margin: 11px;
}

.box4{position: absolute;
  top: 5%;
  left: 4.2%;
   background-color: rgba(252, 252, 252, 0.6);
  width: 900px;
  border: 4px solid black;
  padding: 20px;
  margin: 10px;
}
.box4>ol{
  position: relative;
  top: -13px;
}

.cat {
  transition: all 0.3s linear;
}
.house {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
}
.dog{
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border:1.5px solid black;
  background-color: rgba(91, 175, 225, 0.5);
  padding: 10px;
  margin: 20px;}
.fish:hover{
  -webkit-transform: rotate(-7deg);
  /*-moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);*/
}

.about3{
  position: static;
  width: 100%;
  height: 100%;
}
.box5{position: fixed;
  top: 100px;
  left: 3%;
   background-color: rgba(252, 252, 252, 0.6);
  width: 850px;
  border: 4px solid black;
  padding: 45px;
  margin: 10px;
  display: none;
  z-index: 4;
}
.about3>.box5>p{
  line-height: 1.6;
}
.card{position: relative;
top: 30%;
left: 70%;
 transition: all 1s;}
.card:hover{
  box-shadow: 0px 0px 10px 7px #11337B;
}
/* Contact page */

#Aminadavpic2{
      position: relative;
      top: 0vh;
     float: right;
    margin: 0px;}
.avatar2{
border-radius: 100%;
}
.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: 'Times New Roman', serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input, .txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: rgba(5, 92,46, 0.7);
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
.span1{
  display: block;
  width: auto;
}
.span2{
  border-radius:10px;
  padding:5px;
}
.item55555 {
  position: relative;
  top: 90vh;
  height: 78px;
    background-color: white;
}
.item55555>ol>li, .item55555>ol>li a{display: inline-block;
  cursor: pointer;
margin-left: 2%;
font-family: 'Times New Roman', serif; 
  font-size: 20px;
  font-weight: 900;
  color: #447684;
  line-height: 1.5;
 white-space: nowrap;}
.item55555>ol>li a:hover{
background-color: white;}
li>img{
  cursor: default;
  position: relative;
  top: 10px;
}

@media only screen and (max-width: 1440px) {
 .WordsPuzzle_DARK_BLUE2{
  width: 265px;
  height: 255px;
  position: relative;
  left: 75%;
  top: 15vh;}
.box3{position: absolute;
  top: -30%;}
p{
  font-size: 25px;
  }
.container .section:nth-child(3){
  width: 72%;
  }}
@media only screen and (max-width: 1280px) {
  .WordsPuzzle_DARK_BLUE2{
  width: 275px;
  height: 265px;
  position: relative;
  left: 75%;
  top: 15vh;
}
.box3>.h1{ position: relative;
	top: -3vh; }
.item5_1 {
  position: relative;
  top: 900px;
}
.container .section:nth-child(3){
  width: 78%;
  }
.box3{position: absolute;
  top: 0%;
  left: 3%;}
p{
  font-size: 26px;
  }}
@media only screen and (max-width: 1276px) {
  .box3{position: absolute;
  top: -30%;}
}
@media only screen and (max-width: 960px) {
.box3{position: absolute;
  top: 0%;
  width: 800px;}
 .page{
	position: relative;
	top: -20px;
	left: 716px;
}
.WordsPuzzle_DARK_BLUE2{
width: 215px;
  height: 205px;
  position: relative;
   left: 5%;
  top: 69vh;
}
.container .section:nth-child(3){
  width: 100%;
  }
.box4{position: absolute;
  top: 15%;
  width: 800px;}
.box5{position: fixed;
  top: 55%;
  left: 2%;
  width: 800px;
}
.card{position: relative;
top: 30%;
left: 31%;
z-index: 5;
}}
@media only screen and (max-width: 518px) {
  /*  414 width   */   
.box1{
  background-color:rgba(252, 252, 252, 0);}
.box2{
  position: absolute;
  left: 11%;
  background-color:rgba(252, 252, 252, 0);
} 
.page{
	position: relative;
	top: -20px;
	left: 334px;
	width: 90px;
	height: 80px;
}
.WordsPuzzle_DARK_BLUE2{
  display: none;}
.box3{position: absolute;
  top: 4%;
  width: 400px;
height: 78%}
.box3>.h1{ position: relative;
	top: -4.5vh; }
.h1{font-size: 26.5px;
    line-height: 1.4;}
p{
  font-size: 21px;
  }
.box4{position: absolute;
  top: 4%;
  left: 3%;
  width: 400px;
  }
.box4>ol>li{ font-size: 21px; }  
.box5{position: fixed;
  top: 35%;
  left: 3%;
  width: 390px;
  padding: 3%;
}
.card{position: relative;
top: 10%;
left: 12%;}
.contact-form h1{
  border-bottom: 2px solid brown;
  width: 200px;
  font-size: 31px;
}
.avatar2{
  width: 97px;
  height: 87px;
}
.contact-form{position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-51%);}
.txtb label{
  font-size: 13px;
}
.item55555 {
  position: relative;
  top: 91vh;
  height: 90px;}
.item55555>ol>li, .item55555>ol>li a{position: relative;
  top: -1px;
  right: 12%;
  margin: 4px;
  font-size: 11px;  }
.item55555>ol>.copyright{position: relative;
  right: 10%;
  font-size: 7px;
}
li>img{position: relative;
  top: 4px;
  left: -12%;
  width: 60px;
  height: 40px;}
}
@media only screen and (max-width: 514px){
/* 411 width */
.txtb input, .txtb textarea{
  font-size: 16px;
}
.item55555 {
  height: 94px;}
}
@media only screen and (max-width: 470px) {
  /*  375 width   */  
.box3{position: absolute;
  top: 5%;
  left: 1%;
  width: 390px;
  height: 84%;}
.page{
	position: relative;
	top: -20px;
	left: 334px;
	width: 80px;
	height: 70px;
}
.box3>.h1{ position: relative;
	top: -5vh; }
.box3>p{
  position: relative;
  top: -10%;
  }
.box4{position: absolute;
  top: 4%;
  left: 1%;
  width: 390px;
}
.box4>ol>li{ font-size: 19px; } 
.box5{position: fixed;
  left: 1%;
  height: 53%;
}
.card{position: relative;
top: 10%;
left: 9%;}
}
@media only screen and (max-width: 450px) {
  /*  360 width   */ 
 .page{
	position: relative;
	top: -20px;
	left: 326px;
	width: 70px;
	height: 60px;
} 
 h1{font-size: 38px;}
.box2{
	font-size: 20px;
}
h4>a{position: relative;
  top: -10.3px;
  font-size: 15px;}
.arrow{
  position: absolute;
  top: 14%;
}
table {
  position: absolute;
  top: 20%;}
.box3{position: absolute;
  top: 5%;
  left: 1%;
  width: 375px;}
.h1{font-size: 25px;
    line-height: 1.4;}
  p{
  font-size: 19px;
  }
.box4{position: absolute;
  top: 4%;
  left: 1%;
  width: 375px;
}
.box4>ol>li{ font-size: 18px;
  margin: 10.3px;
}
.box5{position: fixed;
top: 37%;
  left: 1%;
  width: 368px;
  height: 51%;}
.card{position: relative;
top: 10%;
left: 7%;}}
@media only screen and (max-width: 400px) {
  /*  320 width   */ 
.page{
	position: relative;
	top: -20px;
	left: 280px;
	width: 60px;
	height: 50px;
} 
h1{font-size: 32px;}
.box2{ font-size: 20px;}
h4>a{position: relative;
	top: -10px;
	font-size: 15px;}
.arrow{
  position: absolute;
  top: 15%;
}
table {
  position: absolute;
  top: 21%;}
td,th{font-size: 20px;
 line-height: 28px;}
 .box3{position: absolute;
  top: 5%;
  left: 1%;
  width: 320px;
  height: 77%;}
.h1{font-size: 20px;
    line-height: 1.4;}
.box3>p{ position: relative;
	top: -9%; }
p{
  font-size: 16px;
  } 
.box4{position: absolute;
  top: 4%;
  left: 1%;
  width: 320px;
  height: 84%;
}
.box4>ol>li{ font-size: 17.5px;
  margin: 8px; }
.box5{position: fixed;
  left: 1%;
  width: 320px;
  height: 49%;}
.card{position: relative;
top: 10%;
left: 1%;}
.contact-form{
   position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-51%);
padding: 10px 20px;}
.contact-form h1{
  font-size: 25px;
}
.avatar2{
  width: 90px;
  height: 80px;
}
.txtb input, .txtb textarea{
  font-size: 10px;
}
.btn{
  padding: 10px 0;}
.item55555 {
  position: relative;
  top: 87vh;
}
.item55555>ol>li, .item55555>ol>li a{position: relative;
  top: 0px;
  font-size: 9px;  }
  .copyright{
  font-size: 5px;}
  } 