html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;}
.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;}
li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul>li a:hover, .dropdown:hover .dropbtn {
   background-color: #02304B;
  border: 2.5px solid white;
  margin: -2.5px;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.bigcontainer{
  width: 85%;
  max-width: 900px;
  position: absolute;
  top: 55vh;
  left: 50%;
  transform: translate(-50%,-45vh);
 display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
}
.smallchild{
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
.data1{
  background-image: url('all.png');
  background-size: 60% 65%;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-align: right;
}
.h1{
  font-size: 50px;
}
.data1>ol>li{font-size: 20px;}
.data1>ol{display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  }

.data2
{
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
.data2:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15%;
    left: -12%;
    z-index: -1;
    background: url('shine.png') 0 0 no-repeat;
    background-size: 100% 120%;
}
.data2:before
{
    transform: rotate(-90deg);
}

.smallcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-family: 'Times New Roman', serif;
 } 
.child{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 12px;
  font-size: 22px;
  border-radius: 2px;
}
.child1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.child2 {
grid-row-start: 1;
grid-column-start: 3;
  grid-column-end: 4; 
  text-align: center;
}
.MRP{font-weight: bold;}
.child3 {
grid-row-start: 1;
grid-column-start: 5;
  grid-column-end: 6; 
}
.child4 {
grid-row-start: 2;
grid-column-start: 1;
  grid-column-end: 2; 
}
.child5 {
grid-row-start: 2;
grid-column-start: 5;
  grid-column-end: 6; 
}
.child6 {
grid-row-start: 3;
grid-column-start: 1;
  grid-column-end: 2; 
}
.child7 {
grid-row-start: 3;
grid-column-start: 5;
  grid-column-end: 6; 
  align-self: center;
}
.issue{font-weight: bold;}
.child8 {
grid-row-start: 4;
grid-column-start: 1;
  grid-column-end: 2; 
}
.child9 {
grid-row-start: 5;
grid-column-start: 5;
  grid-column-end: 6; 
}
.child10 {
grid-row-start: 5;
grid-column-start: 1;
  grid-column-end: 2; 
}
.child11 {
grid-row-start: 5;
grid-column-start: 3;
  grid-column-end: 4; 
  text-align: center;
}
.child12 {
grid-row-start: 3;
grid-column-start: 3;
  grid-column-end: 4;
  text-align: center; 
}
.main{font-size: 22px;
font-weight: bold;}
.arrow{
  opacity: 0.3;
}
.arrow1{
  transform: rotate(45deg);
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3; 
  align-self: end;}
.arrow2{
  transform: rotate(45deg);
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3; 
  align-self: end;}
.arrow3{
  transform: rotate(0deg);
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3; 
  align-self: center;
}
.arrow4{
  transform: rotate(-35deg);
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3; 
}
.arrow5{
  transform: rotate(-45deg);
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 3; 
}
.arrow6{
  transform: rotate(90deg);
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4; 
  justify-self: center;
  position: relative;
  left: -10%; 
}
.arrow7{
  transform: rotate(-90deg);
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 4; 
  justify-self: start;
  position: relative;
  left: 20%;}
.arrow8{
  transform: rotate(90deg);
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 4; 
  justify-self: end;
  position: relative;
  right: 20%;}
.arrow9{
  transform: rotate(-45deg);
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5; 
  align-self: end;}
.arrow10{
  transform: rotate(-30deg);
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5; 
  align-self: end;
}
.arrow11{
  transform: rotate(0deg);
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 5; 
   align-self: center;
}
.arrow12{
  transform: rotate(50deg);
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 5; 
   align-self: center;}

.data3{
  margin: 8vh;
  margin-bottom: 10vh;
  font-family: 'Times New Roman', serif;}
.item5>ol>li a{float: left;
  position: relative;
  top: 18px;
color: rgba(33, 38, 43, 0.8);
  z-index: 4;
}
.item5>ol>li a:hover {
  background-color: red;
}
.item5>ol>.copyright{ 
  width: 120%;
  font-size: 13px;
 }
ol{
list-style-type: none;
}
.copyright>a{
  color: #FF5913;}

  @media only screen and (max-width: 768px) {
.data1{ 
        font-size: 14px; 
        background-size: 60% 60%;}
.h1{
  font-size: 30px;
}
.data1>ol>li{font-size: 15px;}
.data2{width: 107%;
	position: relative;
	left: -5%;}
.arrow>img{width: 60px;
        height: 30px;}
.arrow6{
  position: relative;
  left: -25%; 
}
.arrow7{
  position: relative;
  left: 40%;}
.arrow8{
  position: relative;
  right: 40%;}
.arrow12{position: relative;
          left: 40%;}
.item5>ol>.copyright{font-size: 10px;}
}
 @media only screen and (max-width: 414px) {
ul>li {
  font-size: 12px;
  margin: -3px;}
span{font-size: 13px;}
.data1{ 
        font-size: 10px; 
        background-size: 58% 49%;
        padding: 0px;
        }
.h1{
  font-size: 27px;
}
.data1>ol{width: 100%;
position: relative;
left: -30px;}
.data1>ol>li{font-size: 9px;}
li>img{
  width: 13px;
  height: 8px;}
.smallcontainer{
  padding: 0px;}
.child{
  padding: 5px;
  font-size: 11px;
}
.data2{width: 105%;
  position: relative;
  left: -5%;}
.issue, .MRP{font-size: 11.5px;}
.main{font-size: 14px;}
.arrow{width: 25px;}
.arrow>img{width: 30px;
        height: 15px;}
.arrow6{
  position: relative;
  left: -20%; 
}
.arrow4, .arrow5{position: relative;
left: 48%; 
}
.data3{
  margin: 8vh;
  margin-bottom: 3vh;}
.item5{
  position: relative;
  top: -15%;
}
.item5>ol{
  width: 100%;
  padding: 4px;}
.item5>ol>li{
  position: relative;
  left: -20%;
  margin: -1px;
  font-size: 12px;}
.item5>ol>.copyright{ 
  position: relative;
  left: 2%;
  font-size: 6px;}
}
@media only screen and (max-width: 375px) {
.data1{ 
        font-size: 9px; 
        background-size: 54% 46%;}
.h1{
  font-size: 22px;
}
.data1>ol{width: 110%;
position: relative;
left: -60px;}
.child{
  padding: 4px 2px;
  font-size: 12px;
}
.arrow{width: 15px;}
.arrow3{position: relative;
        left: -15%;}
.arrow4, .arrow5{position: relative;
left: 85%; 
}
.arrow7{
  position: relative;
  top: 18%;}
.item5>ol{
    width: 130%;}
.item5>ol>.copyright{ 
  position: relative;
  left: -20%;}
  }
@media only screen and (max-width: 360px) {
.data1{ 
        font-size: 8px; 
        background-size: 56% 50%;}
.h1{
  font-size: 18px;
}
.data1>ol>li{font-size: 8.5px;}
.data2{position: relative;
	left: -7%;
	width: 107.5%;}
.issue, .MRP{font-size: 11px;}
.arrow{width: 12.5px;}
.arrow3{position: relative;
        left: -20%;}
.arrow9{position: relative;
        top: 20%;}
.arrow11{position: relative;
        left: -25%;}
}
@media only screen and (max-width: 320px) {
.data1{ 
        background-size: 54% 48%;}
.data1>ol>li{font-size: 7.5px;}
.data2{
	width: 108%;
}
.child{
  font-size: 9.5px;
}
.data2{position: relative;
        left: -7%;
        width: 107%;}
.issue, .MRP{font-size: 9px;}
.arrow{width: 8px;}
.arrow>img{width: 25px;}
.item5>ol>.copyright{ 
  width: 170%;
  position: relative;
  left: -60%;}
  }
}















