
body{
	width: 100%;	
    margin: 0px;
    padding: 0px;
    background-image: url("photo1.jpg");
  background-size: 1535px 755px;
   background-repeat: no-repeat;
}

.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;
}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul>li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
ul>li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul>li a:hover, .dropdown:hover .dropbtn {
   background-color: #02304B;
  border: 2.5px solid white;
  margin: -2.5px;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


 #Aminadavpic{
      position: relative;
      top: 0vh;
     float: right;
  	margin: 0px;}
.avatar{
border-radius: 100%;
}

.contact-form{
	width: 85%;
	max-width: 600px;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: 'Times New Roman', serif;
}
.contact-form h1{
	margin-top: 0;
	font-weight: 200;
}
.txtb{
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}
.txtb label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}
.txtb input, .txtb textarea{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}
.btn{
	display: inline-block;
	background: rgba(5, 92,46, 0.7);
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}
.span1{
  display: block;
  width: auto;
}
.span2{
  border-radius:10px;
  padding:5px;
}
.item5 {
  position: relative;
  top: 88.2vh;
  height: 78px;
    background-color: white;
}
.item5>ol>.copyright{
  position: absolute;
  top: 15px; 
}
ol{
list-style-type: none;
}
ol>li, ol>li a{display: inline-block;
	cursor: pointer;
margin-left: 2%;
font-family: 'Times New Roman', serif; 
	font-size: 20px;
	font-weight: 900;
	color: #447684;
	line-height: 1.5;
 white-space: nowrap;}
li>img{
	cursor: default;
  position: relative;
  top: 10px;
}
.copyright{
  position: absolute;
  right: 152px; 
}
.copyright>a{
  color: #FF5913;}
}


@media only screen and (max-width: 1024px)  {
body{
    background-image: url("photo1.jpg");
  background-size: 1500px 1210px;}
.item5 {
  position: relative;
  top: 90vh;
}}
@media only screen and (max-width: 768px)  {
body{
  background-size: 1500px 950px;}
.txtb input, .txtb textarea{
  font-size: 13px;}
.item5 {
  position: relative;
  top: 92vh;
}
ol>li, ol>li a{
  font-size: 18px;
  }
.copyright{font-size: 13px;}
li>img{width: 65px;
  height: 45px;}}
@media only screen and (max-width: 414px)  {
body{
  background-size: 1500px 640px;}
ul>li {
  font-size: 12px;
  margin: -3px;
}
span{font-size: 13px;}
.contact-form h1{
  font-size: 31px;
}
.avatar{
  width: 97px;
  height: 87px;
}
.contact-form{position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-51%);}
.txtb label{
  font-size: 13px;
}
.item5 {
  position: relative;
  top: 83vh;
  height: 90px;}
ol>li, ol>li a{position: relative;
  top: -1px;
  right: 12%;
  margin: 4px;
  font-size: 11px;  }
.copyright{position: relative;
  right: 10%;
  font-size: 7px;
}
li>img{position: relative;
  top: 4px;
  left: -12%;
  width: 60px;
  height: 40px;}
}
@media only screen and (max-width: 411px)  {
body{
    background-image: url("photo1.jpg");
  background-size: 1500px 670px;}
.txtb input, .txtb textarea{
  font-size: 16px;
}
.item5 {
  position: relative;
  top: 87vh;
  height: 94px;}
}
@media only screen and (max-width: 375px)  {
body{
  background-size: 1500px 600px;}
.contact-form{
  padding: 26px 25px;
}
.contact-form h1{
  font-size: 31px;
}
.avatar{
  width: 97px;
  height: 87px;
}
.txtb input, .txtb textarea{
  font-size: 11px;}
.item5 {
  position: relative;
  top: 84.5vh;
  height: 80px;}
  li>img{
  width: 50px;
  height: 30px;}
  ol>li, ol>li a{position: relative;
  top: 4px;
   font-size: 10px;  
}
.copyright{
  font-size: 6.5px;
}}
@media only screen and (max-width: 360px)  {
span{font-size: 12px;}
.contact-form{
  padding: 10px 20px;
}
.contact-form h1{
  font-size: 29px;
}
.avatar{
  width: 95px;
  height: 85px;
}
.btn{
  margin: 0px;}
.item5 {
  position: relative;
  top: 83vh;
  height: 80px;}
}
@media only screen and (max-width: 320px)  {
.contact-form{
   position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-51%);
padding: 10px 20px;}
.contact-form h1{
  font-size: 25px;
}
.avatar{
  width: 90px;
  height: 80px;
}
.txtb input, .txtb textarea{
  font-size: 10px;
}
.btn{
  padding: 10px 0;}
.item5 {
  position: relative;
  top: 85.5vh;
}
ol>li, ol>li a{position: relative;
  top: 0px;
  font-size: 9px;  }
  .copyright{
  font-size: 5px;
}
  }