

body{
	width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;
}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul>li a:hover, .dropdown:hover .dropbtn {
  background-color: #02304B;
  border: 2.5px solid white;
  margin: -2.5px;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.bigcontainer{
  width: 85%;
  max-width: 900px;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%,-0%);
 display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  text-align: right;
}
.smallchild{
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 8px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}
.data1{
  background-image: url('data1.png');
  background-size: 350px 390px;
   font-family: 'Times New Roman', serif;
  font-size: 35px;
  font-weight: 900;
  text-align: left;
  line-height: 1.5;
  border: none;
  color: #02304B;
}
.text{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
}
.data2{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 3;
  background-color: rgba(155, 227 ,237, 0.15);
  border: 2px solid rgba(85, 187, 201, 0.4); 
  line-height: 1.5; 
  display: grid;
  grid-template-columns: auto;
grid-template-rows: 64% 35%;
}
.box{
  grid-row-start: 1;
  
  background-image: url('data3.jpg');
  background-size: 8600% 300%;
  background-position: top;
  color: rgb(252, 252, 252, 0.85);
  text-shadow: 2px 2px 4px #000000;
  padding-top: 5%;
  padding-right: 4px;
  padding-bottom: 20%;
  }
.h3{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}
.blue{
  grid-row-start: 2;
  align-self: center;
  }
.h4{
  font-weight: bold;
}
.data3{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
border-top-color: white;
background-color: rgba(12, 28, 30, 0.2);}
.dataworld{
   grid-row-start: 2;
   grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
   display: grid;
  grid-template-columns: auto auto;
  }
.dataworld>img{ margin: 0px; }
.world{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.down{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  opacity: 0.2;
  justify-self: center;
  position: relative;
  top: -5vh;
}
.gridcontainer{
   display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-image: url('data4.png');
  padding: 10px;
  font-family: 'Times New Roman', serif;
}
.chil{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: #08548E;
}
.chil1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.chil2 {
  grid-row-start: 1;
grid-column-start: 2;
  grid-column-end: 3; 
  position: relative;
  top: 4px;
  z-index: 2;
}
.chil3 {
  grid-row-start: 1;
grid-column-start: 3;
  grid-column-end: 4; 
  position: relative;
  top: 20px;
}
.chil4 {
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
  grid-column-end: 2; 
  position: relative;
  top: -5px;
  left:  20px;
  z-index: 1;
}
.chil5 {
grid-row-start: 3;
grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  top: -10px;
  left: 80px; 
}
.chil6 {
grid-row-start: 2;
grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
  top: 45px;
  left: -50px; 
  z-index: 1;
}
.chil7 {
grid-row-start: 4;
grid-column-start: 3;
  grid-column-end: 4; 
}
.chil8 {
grid-row-start: 4;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chil9 {
grid-row-start: 4;
grid-column-start: 2;
  grid-column-end: 3; 
  position: relative;
  top: -5px;
}
.arrow1{
  transform: rotate(-180deg);
  width: 8%;
  height: 3%;
 position: absolute;
  top: 28.9%;
  left: 25%;
  z-index: 1;
}
.arrow2{
  width: 8%;
  height: 4%;
   position: absolute;
  top: 26.5%;
  left: 38%;
  z-index: 1;
}
.arrow3{
  transform: rotate(180deg);
  position: absolute;
  top: 26.5%;
  left: 32%;
  width: 8%;
  height: 8%;
  opacity: 0.4;
}
.arrow4{
  position: absolute;
  top: 25.5%;
  left: 26.5%;
  width: 9%;
  height: 7%;
  z-index: 2;
}
.arrow5{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: rotate(26deg);
  position: absolute;
  top: 22.7%;
  left: 2.6%;
  width: 32.2%;
  height: 7.5%;
  z-index: 1;
}
.arrow6{
  transform: rotate(180deg);
  position: absolute;
  top: 26.3%;
  left: 43.5%;
  width: 7%;
  height: 4%;
  z-index: 1;
}
.arrow9{
  position: absolute;
  top: 28.3%;
  left: 23.2%;
  width: 8%;
  height: 3%;
  z-index: 1;
}

.arrow13{
  transform: rotate(-56deg);
  position: absolute;
  top: 26.3%;
  left: 17%;
  width: 9%;
  height: 3%;
  z-index: 2;
}
.arrow15{
  transform: rotate(206deg);
  position: absolute;
  top: 24%;
  left: 11%;
  width: 10%;
  height: 10%;
  opacity: 0.7;
  z-index: 2;
}
.arrow16{
  transform: rotate(180deg);
  position: absolute;
  top: 25.6%;
  left: 17.2%;
  width: 11.5%;
  height: 8%;
  opacity: 0.7;
  z-index: 2;
}
.arrow17{
  transform: rotate(-10deg);
  position: absolute;
  top: 24.5%;
  left: 30%;
  width: 9%;
  height: 11.6%;
  z-index: 1;
}
.arrow18{
  transform: rotate(-33deg);
 position: absolute;
  top: 25.3%;
  left: 34%;
  width: 9.5%;
  height: 10%; 
  z-index: 0;
}
.arrow20{
  position: absolute;
  top: 28%;
  left: 4%;
  width: 5%;
  height: 5.5%;
  z-index: 1;
}
.arrow21{
  transform: rotate(180deg);
  position: absolute;
  top: 28%;
  left: 7%;
  width: 4%;
  height: 5.5%;
  z-index: 1;}
.data4{
  background-color: rgba(155, 227 ,237, 0.15);}
.data5{
  background-image: linear-gradient(rgba(12, 28, 30, 0.1) 5%, rgba(12, 28, 30, 0));
  }
.h5{
  font-weight: bold;
  font-size: 18px;
}
.size{
  font-weight: 100;
  line-height: 1;
}
.up{ position: relative;
  top: -6px; }

.smallcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-image: url('shine1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  font-family: 'Times New Roman', serif;
 } 
.chi{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 12px 0;
  font-size: 24px;
  border-radius: 3px;
}
.chi1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.chi2 {
grid-row-start: 2;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi3 {
grid-row-start: 3;
grid-column-start: 1;
  grid-column-end: 2; 
padding: 12%;}
.chi4 {
grid-row-start: 4;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi5 {
grid-row-start: 5;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi6 {
grid-row-start: 6;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi7 {
grid-row-start: 7;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi8 {
grid-row-start: 8;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi9 {
   background-color: rgba(255, 255, 255, 0.0);
grid-row-start: 4;
grid-column-start: 2;
  grid-column-end: 3; 
 position: relative; 
 color: white;
  text-shadow: 2px 2px 4px #000000;
}
.bigarrow{ 
    position: absolute;
    left: 5.1%;
    bottom: -108%;
    width: 310px;
    height: 270px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: rotate(180deg);
  z-index: -1;
}
.chi10 {
grid-row-start: 3;
grid-column-start: 3;
  grid-column-end: 4;
 padding: 14%;
}
.chi11 {
grid-row-start: 5;
grid-column-start: 3;
  grid-column-end: 4; 
}
.computers{
  position: relative;
  top: 0px;
  width: 900px;
  height: 500px;
}
.data7{
  margin: 8vh;
  margin-bottom: 10vh;
  border: none;
  font-family: 'Times New Roman', serif;}
.item5>ol>li a{float: left;
  position: relative;
  top: 18px;
color: rgba(33, 38, 43, 0.8);
  z-index: 4;
}
.item5>ol>li a:hover {
  background-color: red;
}
.item5>ol>.copyright{ font-size: 13px;
 }
  ol{
list-style-type: none;
}
.copyright>a{
  color: #FF5913;}

@media only screen and (max-width: 1024px) {
  .bigcontainer{
  width: 95%;
  max-width: 1000px;}
.arrow1{
 position: absolute;
  top: 28%;
}
.arrow2{
   position: absolute;
  top: 25%;
  left: 40%;}
.arrow3{
  position: absolute;
  top: 25%;}
.arrow4{
  position: absolute;
  top: 24.5%;}
.arrow5{
  position: absolute;
  top: 21.5%;}
.arrow6{
  position: absolute;
  top: 25%;
  left: 45%;}
.arrow9{
  position: absolute;
  top: 27%;}
.arrow13{
  position: absolute;
  top: 25%;}
.arrow15{
  position: absolute;
  top: 23%;}
.arrow16{
  position: absolute;
  top: 24.5%;}
.arrow17{
  position: absolute;
  top: 23.5%;}
.arrow18{
 position: absolute;
  top: 24%;}
.arrow20{
  position: absolute;
  top: 27%;}
.arrow21{
  position: absolute;
  top: 27%;}

.computers{
  position: relative;
  top: 0px;
  width: 955px;}
  .copyright{font-size: 10px;}
}

@media only screen and (max-width: 768px) {
.bigcontainer{
  width: 85%;
  max-width: 900px;
  position: absolute;
  left: 44%;}
.data1{font-size: 30px;}
.text{
  font-size: 22px;
}
.data2{ font-size: 14.5px; }
.h3{
  font-size: 18px;}
.h4{font-size: 18px;}
  .chil{padding: 17px 0;
    font-size: 20px;}
.chil4{
   position: relative;
  left:  10px;
}
.chil5{
position: relative;
  top: -10px;
  left: 35px;} 
.arrow1{
 position: absolute;
  top: 27.5%;
  width: 8%;
  height: 2%;
}
.arrow2{
   position: absolute;
  top: 24.5%;
  left: 40%;
  width: 8%;
  height: 3.5%;}
.arrow3{
  position: absolute;
  top: 24.5%;
  left: 34%;
  width: 9%;
  height: 8%;}
.arrow4{
  position: absolute;
  top: 23%;
  width: 9.5%;
  height: 7.5%;}
.arrow5{
  position: absolute;
  top: 20.5%;
  width: 32.2%;
  height: 7.5%;}
.arrow6{
  position: absolute;
  top: 24%;
  left: 45%;
  width: 7%;
  height: 3.5%;}
.arrow9{
  position: absolute;
  top: 26.5%;
  width: 8%;
  height: 2%;}
.arrow13{
  transform: rotate(-65deg);
  position: absolute;
  top: 24%;
  left: 17.5%;
  width: 9%;
  height: 2.5%;}
.arrow15{
  transform: rotate(200deg);
  position: absolute;
  top: 22%;
  width: 10%;
  height: 10%;}
.arrow16{
  position: absolute;
  top: 23.5%;
  width: 11.5%;
  height: 8%;}
.arrow17{
  position: absolute;
  top: 22.5%;
   width: 7%;
  height: 10.5%;}
.arrow18{
  transform: rotate(-30deg);
 position: absolute;
  top: 23%;
  left: 36%;
  width: 9.5%;
  height: 10%;}
.arrow20{
  position: absolute;
  top: 26%;
  width: 5%;
  height: 5%;}
.arrow21{
  position: absolute;
  top: 26%;
  width: 4%;
  height: 5%;}
.world{width: 350px;
  height: 340px;}
.chi{padding: 10px 0;
  font-size: 22px;}
.chi9{position: relative;
  top:10%;}
.bigarrow{
   position: absolute;
    left: 0%;
    width: 300px;
    height: 250px;}
.computers{
  width: 720px;
  height: 420px;}
.copyright{
    font-size: 8px;}}
@media only screen and (max-width: 414px) {
 ul>li {
  font-size: 13px;
  margin: -4px;
}
span{font-size: 13px;}
.bigcontainer{
  position: absolute;
  left: 44%;}
.data1{font-size: 22px;
  background-size: 250px 280px;}
.text{
  font-size: 20px;
}
.data2{
  grid-row-start: 2; 
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 10px; }
.data3{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
.h3, .h4{
  font-size: 12px;}
.dataworld{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 5;
}
.world{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.down{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;}
.data4{
  font-size: 12px;}
.h5{font-size: 12px;}
  .chil{padding: 10px 0;
    font-size: 16px;}
.chil5 {
  position: relative;
  top: -10px;
  left: 38px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -30px;}
.chil9 { 
  position: relative;
  top: 5px;
}
.arrow1{
  width: 23.5%;
  height: 4%;
 position: absolute;
  top: 26.5%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 25.3%;
  left: 88.5%;
}
.arrow3{
  position: absolute;
  top: 25.5%;
  left: 69%;
  width: 17.5%;
  height: 6.5%;
}
.arrow4{
  position: absolute;
  top: 24.5%;
  left: 58%;
  width: 18%;
  height: 6.4%;
}
.arrow5{
  position: absolute;
  top: 21.6%;
  left: 4.8%;
  width: 70.5%;
  height: 7%;
}
.arrow6{
  position: absolute;
  top: 24.7%;
  left: 96.5%;
  width: 10%;
  height: 4%;
}
.arrow9{
  position: absolute;
  top: 25.7%;
  left: 45.5%;
  width: 26.5%;
  height: 4%;
}
.arrow13{ 
  position: absolute;
  top: 24%;
  left: 38%;
  width: 17%;
  height: 4%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 22.5%;
  left: 29.5%;
  width: 9%;
  height: 9.5%;
  }
.arrow16{
  position: absolute;
  top: 25%;
  left: 39%;
  width: 21%;
  height: 6.5%;
}
.arrow17{
  position: absolute;
  top: 23.5%;
  left: 62%;
  width: 12.5%;
  height: 9%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 24%;
  left: 73.5%;
  width: 12%;
  height: 8.3%; 
}
.arrow20{
  position: absolute;
  top: 26.5%;
  left: 12%;
  width: 7%;
  height: 5%;
}
.arrow21{
  position: absolute;
  top: 26.5%;
  left: 16%;
  width: 6%;
  height: 5%;
  }
  .world{
    width: 200px;
    height: 200px;
    align-self: center;}
  .down{
    width: 90px;
    height: 90px;
    align-self: center;
    position: relative;
    left: -10%;
    align-self: end;
  }
  .chi{padding: 6px 0;
  font-size: 13px;}
.bigarrow{
   position: absolute;
    left: -7%;
    bottom: -121%;
    width: 165px;
    height: 160px;}
.computers{
  width: 380px;
  height: 220px;}
.data7{
  margin: 8vh;
  margin-bottom: 3vh;}
.item5{
  position: relative;
  top: -15%;
}
.item5>ol{
  width: 100%;
  padding: 4px;}
.item5>ol>li{
  position: relative;
  left: -20%;
  margin: -1px;
  font-size: 12px;}
.item5>ol>.copyright{ 
  position: relative;
  left: 2%;
  font-size: 6px;}
    }
@media only screen and (max-width: 411px) {
 ul>li {
  font-size: 12.5px;
  margin: -4px;
}
span{font-size: 14px;}
}

@media  only screen and (max-width: 375px) {
.bigcontainer{
  position: absolute;
  left: 45%;}
.data1{font-size: 20px;}
.text{
  font-size: 17px;
}
.h3, .h4{
  font-size: 10px;}
.arrow1{
  width: 23%;
  height: 3%;
 position: absolute;
  top: 25%;
  left: 51.5%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 23.5%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 23.6%;
  left: 69%;
  width: 17.5%;
  height: 7%;
}
.arrow4{
  position: absolute;
  top: 22%;
  left: 58%;
  width: 18%;
  height: 7.5%;
}
.arrow5{
  position: absolute;
  top: 19.5%;
  left: 5%;
  width: 69.5%;
  height: 6.5%;
}
.arrow6{
  position: absolute;
  top: 23%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 24.5%;
  left: 45.6%;
  width: 25%;
  height: 3%;
}
.arrow13{ 
  position: absolute;
  top: 22.3%;
  left: 38%;
  width: 17%;
  height: 3.5%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 20.5%;
  left: 29.5%;
  width: 9%;
  height: 10%;
  }
.arrow16{
  position: absolute;
  top: 23%;
  left: 39%;
  width: 21%;
  height: 7%;
}
.arrow17{
  position: absolute;
  top: 21.5%;
  left: 62%;
  width: 12.5%;
  height: 10%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 21.7%;
  left: 73.5%;
  width: 12%;
  height: 9%; 
}
.arrow20{
  position: absolute;
  top: 24%;
  left: 12%;
  width: 7%;
  height: 5%;
}
.arrow21{
  position: absolute;
  top: 24.5%;
  left: 16%;
  width: 6%;
  height: 5%;
  }
.bigarrow{
   position: absolute;
    bottom: -135%;
    width: 160px;
    height: 155px;}
.computers{
  width: 340px;
  height: 190px;}
.item5>ol>li{
  margin: 0px -3px;}
.item5>ol>.copyright{ font-size: 6px;}}
 
@media only screen and (max-width: 360px) {
.chil{padding: 7px 0;
    font-size: 12px;}
.chi{padding: 6px 0;
  font-size: 10px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -23px;}
.arrow1{
  width: 23.5%;
  height: 4%;
 position: absolute;
  top: 28%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 26.5%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 26.5%;
  left: 69%;
  width: 17.5%;
  height: 6%;
}
.arrow4{
  position: absolute;
  top: 26%;
  left: 58%;
  width: 18.5%;
  height: 5.5%;
}
.arrow5{
  position: absolute;
  top: 22.5%;
  left: 8%;
  width: 69.5%;
  height: 7%;
}
.arrow6{
  position: absolute;
  top: 26%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 27.2%;
  left: 45.5%;
  width: 26.5%;
  height: 4%;
}
.arrow13{ 
  position: absolute;
  top: 25%;
  left: 38%;
  width: 16%;
  height: 4%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 23.5%;
  left: 29.5%;
  width: 9%;
  height: 9%;
  }
.arrow16{
  position: absolute;
  top: 25.5%;
  left: 39%;
  width: 21%;
  height: 6.5%;
}
.arrow17{
  position: absolute;
  top: 24.5%;
  left: 62%;
  width: 12%;
  height: 9%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 25.5%;
  left: 73%;
  width: 12%;
  height: 7%; 
}
.arrow20{
  position: absolute;
  top: 27%;
  left: 12%;
  width: 7%;
  height: 4.5%;
}
.arrow21{
  position: absolute;
  top: 27%;
  left: 16%;
  width: 6%;
  height: 4.5%;
  }
.chi9{
  font-size: 9.5px;}
.bigarrow{
    position: absolute;
    bottom: -130%;
    width: 140px;
    height: 140px;}
.computers{
  width: 325px;
  height: 190px;}
.data7{
  margin: 8vh;
  margin-bottom: 0vh;}
.item5>ol>li{
  font-size: 10px;}
}
@media only screen and (max-width: 320px) {
.chil5 {
  position: relative;
  top: -10px;
  left: 32px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -18px;}
.arrow1{
  width: 23.5%;
  height: 3%;
 position: absolute;
  top: 27.5%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 26.5%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 26%;
  left: 69%;
  width: 17.5%;
  height: 6%;
}
.arrow4{
  position: absolute;
  top: 25.5%;
  left: 58%;
  width: 18.5%;
  height: 5.5%;
}
.arrow5{
  position: absolute;
  top: 23%;
  left: 6%;
  width: 71.5%;
  height: 5.5%;
}
.arrow6{
  position: absolute;
  top: 26%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 26.8%;
  left: 45.5%;
  width: 26.5%;
  height: 3%;
}
.arrow13{ 
  position: absolute;
  top: 25%;
  left: 38.5%;
  width: 16%;
  height: 3%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 23.7%;
  left: 29.5%;
  width: 9%;
  height: 8%;
  }
.arrow16{
  position: absolute;
  top: 25%;
  left: 39%;
  width: 21%;
  height: 6.5%;
}
.arrow17{
  position: absolute;
  top: 24%;
  left: 62%;
  width: 12.5%;
  height: 9.5%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 25.1%;
  left: 73%;
  width: 12%;
  height: 7%; 
}
.arrow20{
  position: absolute;
  top: 27%;
  left: 12%;
  width: 7%;
  height: 4%;
}
.arrow21{
  position: absolute;
  top: 27%;
  left: 16%;
  width: 6%;
  height: 4.5%;
  }
.down{ 
  position: relative;
  top: -25%;
  width: 80px;
  height: 80px; }
.bigarrow{
    position: absolute;
    bottom: -112%;
    width: 138px;
    height: 127px;}
.computers{
  width: 285px;
  height: 190px;}
.item5>ol>li{
  position: relative;
  left: -33%;
  margin: -2px -6px;}
}