
body{
	width: 100%;

    margin: 0px;
    padding: 0px;
}

.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 6px;
  width: 99%;
  z-index: 4;
}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.bigcontainer{
  width: 85%;
  max-width: 900px;
  position: absolute;
  top: 77.5%;
  left: 50%;
  transform: translate(-50%,-22.5%);
 display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  text-align: right;
}
.smallchild{
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 8px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}
.data1{
  background-image: url('data1.png');
  background-size: 350px 390px;
   font-family: 'Times New Roman', serif;
  font-size: 35px;
  font-weight: 900;
  text-align: left;
  line-height: 1.5;
  border: none;
}
.text{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
}
.data2{
  z-index: 3;
  background-color: rgba(12, 28, 30, 0.1);
  border: 2px solid rgba(85, 187, 201, 0.4); 
  line-height: 1.5;
}
.box{color: rgb(252, 252, 252, 0.85);
  text-shadow: 2px 2px 4px #000000;
  background-image: url('data3.png');
  background-size: 8600% 300%;
  background-position: top;
  padding-top: 5%;
  padding-right: 4px;
  padding-bottom: 4%;}

.data3{
border-top-color: white;
background-color: rgba(12, 28, 30, 0.2);}
.h3{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}
.h4{
  font-weight: bold;
}
.gridcontainer{
   display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-image: url('data4.png');
  padding: 10px;
  font-family: 'Times New Roman', serif;
}
.chil{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.chil1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.chil2 {
  grid-row-start: 1;
grid-column-start: 2;
  grid-column-end: 3; 
  position: relative;
  top: 4px;
  z-index: 2;
}
.chil3 {
  grid-row-start: 1;
grid-column-start: 3;
  grid-column-end: 4; 
  position: relative;
  top: 20px;
}
.chil4 {
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
  grid-column-end: 2; 
  position: relative;
  top: -5px;
  left:  20px;
  z-index: 1;
}
.chil5 {
grid-row-start: 3;
grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  top: -10px;
  left: 80px; 
}
.chil6 {
grid-row-start: 2;
grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
  top: 45px;
  left: -50px; 
  z-index: 1;
}
.chil7 {
grid-row-start: 4;
grid-column-start: 3;
  grid-column-end: 4; 
}
.chil8 {
grid-row-start: 4;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chil9 {
grid-row-start: 4;
grid-column-start: 2;
  grid-column-end: 3; 
  position: relative;
  top: -5px;
}
.arrow1{
  transform: rotate(-180deg);
  width: 25%;
  height: 6.5%;
 position: absolute;
  top: 22%;
  left: 44%;
  z-index: 1;
}
.arrow2{
  width: 10%;
  height: 5%;
   position: absolute;
  top: 19.5%;
  left: 80%;
  z-index: 1;
}
.arrow3{
  transform: rotate(180deg);
  position: absolute;
  top: 19%;
  left: 62%;
  width: 17.5%;
  height: 11%;
  opacity: 0.4;
}
.arrow4{
  position: absolute;
  top: 17.5%;
  left: 52%;
  width: 18%;
  height: 10.5%;
  z-index: 2;
}
.arrow5{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: rotate(26deg);
  position: absolute;
  top: 13.5%;
  left: 10%;
  width: 62.5%;
  height: 11.5%;
  z-index: 1;
}
.arrow6{
  transform: rotate(180deg);
  position: absolute;
  top: 19%;
  left: 88%;
  width: 9%;
  height: 5.5%;
  z-index: 1;
}
.arrow9{
  position: absolute;
  top: 21%;
  left: 38%;
  width: 25%;
  height: 6%;
  z-index: 1;
}

.arrow13{
  transform: rotate(-48deg);
  position: absolute;
  top: 18%;
  left: 31%;
  width: 14%;
  height: 7%;
  z-index: 2;
}
.arrow15{
  transform: rotate(220deg);
  position: absolute;
  top: 14.5%;
  left: 22.5%;
  width: 10%;
  height: 17.5%;
  opacity: 0.7;
  z-index: 2;
}
.arrow16{
  transform: rotate(180deg);
  position: absolute;
  top: 19.5%;
  left: 33%;
  width: 16%;
  height: 11%;
  opacity: 0.7;
  z-index: 2;
}
.arrow17{
  transform: rotate(-10deg);
  position: absolute;
  top: 17.5%;
  left: 55%;
  width: 13%;
  height: 14%;
  z-index: 1;
}
.arrow18{
  transform: rotate(-35deg);
 position: absolute;
  top: 18%;
  left: 66%;
  width: 9%;
  height: 13%; 
  z-index: 1;
}
.arrow20{
  position: absolute;
  top: 21.5%;
  left: 5%;
  width: 7%;
  height: 7.5%;
  z-index: 1;
}
.arrow21{
  transform: rotate(180deg);
  position: absolute;
  top: 21.5%;
  left: 9%;
  width: 6%;
  height: 7.5%;
  z-index: 1;}
.data4{
  background-color: rgba(155, 227 ,237, 0.15);
}
.data5{
  background-image: linear-gradient(rgba(12, 28, 30, 0.2) 50%, rgba(12, 28, 30, 0));
  }
.h5{
  font-weight: bold;
  font-size: 18px;
}
.size{
  font-weight: 100;
  line-height: 1;
}
.up{ position: relative;
  top: -6px; }

.smallcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-image: url('shine1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  font-family: 'Times New Roman', serif;
 } 
.chi{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 12px 0;
  font-size: 30px;
  border-radius: 3px;
}
.chi1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.chi2 {
grid-row-start: 2;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi3 {
grid-row-start: 3;
grid-column-start: 1;
  grid-column-end: 2; 
padding: 12%;}
.chi4 {
grid-row-start: 4;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi5 {
grid-row-start: 5;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi6 {
grid-row-start: 6;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi7 {
grid-row-start: 7;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi8 {
grid-row-start: 8;
grid-column-start: 1;
  grid-column-end: 2; 
}
.chi9 {
   background-color: rgba(255, 255, 255, 0.0);
grid-row-start: 4;
grid-column-start: 2;
  grid-column-end: 3; 
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.bigarrow{
    position: absolute;
    left: 35%;
    top: 43%;
    width: 350px;
    height: 300px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: rotate(180deg);
  z-index: -1;
}
.chi10 {
grid-row-start: 3;
grid-column-start: 3;
  grid-column-end: 4;
 padding: 14%;
}
.chi11 {
grid-row-start: 5;
grid-column-start: 3;
  grid-column-end: 4; 
}
.computers{
  position: relative;
  top: 0px;
  width: 900px;
  height: 500px;
}
.data7{
  margin: 8vh;
  margin-bottom: 10vh;
  border: none;
  font-family: 'Times New Roman', serif;}
.item5>ol>li a{float: left;
  position: relative;
  top: 18px;
color: rgba(33, 38, 43, 0.8);
  z-index: 4;
}
.item5>ol>.copyright{ font-size: 13px;
 }
  ol{
list-style-type: none;
}
.copyright>a{
  color: #FF5913;}


@media only screen and (max-width: 1024px) {
  .bigcontainer{
  width: 95%;
  max-width: 1000px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%,-32%);}
.arrow1{
 position: absolute;
  top: 21%;
}
.arrow2{
   position: absolute;
  top: 18.5%;}
.arrow3{
  position: absolute;
  top: 18%;}
.arrow4{
  position: absolute;
  top: 16.5%;}
.arrow5{
  position: absolute;
  top: 12.5%;}
.arrow6{
  position: absolute;
  top: 18%;}
.arrow9{
  position: absolute;
  top: 20%;}
.arrow13{
  position: absolute;
  top: 17%;}
.arrow15{
  position: absolute;
  top: 13.5%;}
.arrow16{
  position: absolute;
  top: 18.5%;}
.arrow17{
  position: absolute;
  top: 16.5%;}
.arrow18{
 position: absolute;
  top: 17%;}
.arrow20{
  position: absolute;
  top: 20.5%;}
.arrow21{
  position: absolute;
  top: 20.5%;}
.bigarrow{
    position: absolute;
    top: 41.5%;}
.computers{
  position: relative;
  top: 0px;
  width: 955px;}
  .copyright{font-size: 10px;}
}

@media only screen and (max-width: 768px) {
.bigcontainer{
  width: 85%;
  max-width: 900px;
  position: absolute;
  top: 68%;
  left: 44%;
transform: translate(-50%,-32%);}
.data1{font-size: 30px;}
.text{
  font-size: 22px;
}
.data2{ font-size: 14.5px; }
.h3{
  font-size: 18px;}
.h4{font-size: 18px;}
  .chil{padding: 17px 0;
    font-size: 22px;}
.arrow1{
 position: absolute;
  top: 21.5%;
  left: 53%;
  width: 24%;
  height: 6%;
}
.arrow2{
   position: absolute;
  top: 19%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 19.5%;
  left: 69%;
   width: 17.5%;
  height: 9.5%;
}
.arrow4{
  position: absolute;
  top: 18%;
  left: 59%;
  width: 18%;
  height: 9.5%;
}
.arrow5{
  position: absolute;
  top: 14%;
  left: 17%;
  width: 62.5%;
  height: 10%;
}
.arrow6{
  position: absolute;
  top: 18.5%;
  left: 95%;
}
.arrow9{
  position: absolute;
  top: 20.5%;
  left: 47.5%;
   width: 24%;
  height: 6%;
}
.arrow13{transform: rotate(-55deg);
  position: absolute;
  top: 18.5%;
  left: 38%;
  width: 17%;
  height: 6%;
}
.arrow15{
  position: absolute;
  top: 15.5%;
  left: 29.5%;
  width: 9%;
  height: 14.5%;}
.arrow16{
  position: absolute;
  top: 19%;
  left: 38%;
   width: 21%;
  height: 9%;
}
.arrow17{
  position: absolute;
  top: 18%;
  left: 62%;
   width: 13%;
  height: 11.5%;
}
.arrow18{
 position: absolute;
  top: 18%;
  left: 73%;
  width: 12%;
  height: 12%; 
}
.arrow20{
  position: absolute;
  top: 21%;
  left: 12%;
  height: 6%;
}
.arrow21{
  position: absolute;
  top: 21%;
  left: 16%;
  height: 6%;}

.chi{padding: 10px 0;
  font-size: 22px;}
.chi9{position: relative;
  top:10%;}
.bigarrow{
    position: absolute;
    left: 0%;
    top: -9vh;
    width: 300px;
    height: 250px;}
.computers{
  width: 720px;
  height: 420px;}
.copyright{
    font-size: 8px;}}

    /*
@media only screen and (max-width: 600px) {
}*/
@media only screen and (max-width: 414px) {
 ul>li {
  font-size: 13px;
  margin: -4px;
}
span{font-size: 13px;}
.bigcontainer{
  position: absolute;
  top: 72%;
  left: 44%;
transform: translate(-50%,-28%);}
.data1{font-size: 22px;
  background-size: 250px 280px;}
.text{
  font-size: 20px;
}
.data2{ font-size: 10px; }
.h3, .h4{
  font-size: 12px;}
.data4{
  font-size: 12px;}
.h5{font-size: 12px;}
  .chil{padding: 10px 0;
    font-size: 16px;}
.chil5 {
  position: relative;
  top: -10px;
  left: 38px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -30px;}
.chil9 { 
  position: relative;
  top: 5px;
}
.arrow1{
  width: 23.5%;
  height: 5%;
 position: absolute;
  top: 26%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 4%;
   position: absolute;
  top: 24.5%;
  left: 88.5%;
}
.arrow3{
  position: absolute;
  top: 24%;
  left: 69%;
  width: 17.5%;
  height: 9.5%;
}
.arrow4{
  position: absolute;
  top: 22.5%;
  left: 58%;
  width: 18%;
  height: 9.5%;
}
.arrow5{
  position: absolute;
  top: 20%;
  left: 8%;
  width: 69.5%;
  height: 8%;
}
.arrow6{
  position: absolute;
  top: 24.2%;
  left: 96.5%;
  width: 10%;
  height: 4%;
}
.arrow9{
  position: absolute;
  top: 25%;
  left: 45.5%;
  width: 26.5%;
  height: 5%;
}
.arrow13{ 
  position: absolute;
  top: 23.3%;
  left: 38%;
  width: 17%;
  height: 4%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 20.5%;
  left: 29.5%;
  width: 9%;
  height: 13%;
  }
.arrow16{
  position: absolute;
  top: 23.5%;
  left: 39%;
  width: 21%;
  height: 9%;
}
.arrow17{
  position: absolute;
  top: 21%;
  left: 62%;
  width: 12.5%;
  height: 13%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 22.5%;
  left: 73%;
  width: 12%;
  height: 11%; 
}
.arrow20{
  position: absolute;
  top: 25.5%;
  left: 12%;
  width: 7%;
  height: 7%;
}
.arrow21{
  position: absolute;
  top: 25.5%;
  left: 16%;
  width: 6%;
  height: 7%;
  }
  .chi{padding: 6px 0;
  font-size: 13px;}
.bigarrow{
    position: absolute;
    left: -4%;
    top: -6.5vh;
    width: 170px;
    height: 130px;}
.computers{
  width: 380px;
  height: 220px;}
.data7{
  margin: 8vh;
  margin-bottom: 3vh;}
.item5{
  position: relative;
  top: -15%;
}
.item5>ol{
  width: 100%;
  padding: 4px;}
.item5>ol>li{
  position: relative;
  left: -20%;
  margin: -1px;
  font-size: 12px;}
.item5>ol>.copyright{ 
  position: relative;
  left: 2%;
  font-size: 6px;}
    }
@media only screen and (max-width: 411px) {
 ul>li {
  font-size: 12.5px;
  margin: -4px;
}
span{font-size: 14px;}
}


@media  only screen and (max-width: 375px) {
.bigcontainer{
  position: absolute;
  top: 72%;
  left: 45%;
  transform: translate(-50%,-28%);}
.data1{font-size: 20px;}
.text{
  font-size: 17px;
}
.h3, .h4{
  font-size: 10px;}
.arrow1{
  width: 23.5%;
  height: 4%;
 position: absolute;
  top: 25%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 23%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 22.5%;
  left: 69%;
  width: 17.5%;
  height: 8.5%;
}
.arrow4{
  position: absolute;
  top: 21%;
  left: 58%;
  width: 18%;
  height: 8.5%;
}
.arrow5{
  position: absolute;
  top: 18.5%;
  left: 6%;
  width: 70.5%;
  height: 7%;
}
.arrow6{
  position: absolute;
  top: 22%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 24%;
  left: 45.5%;
  width: 26.5%;
  height: 4%;
}
.arrow13{ 
  position: absolute;
  top: 21.3%;
  left: 38%;
  width: 17%;
  height: 4%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 19.5%;
  left: 29.5%;
  width: 9%;
  height: 11%;
  }
.arrow16{
  position: absolute;
  top: 21.5%;
  left: 39%;
  width: 21%;
  height: 9%;
}
.arrow17{
  position: absolute;
  top: 20%;
  left: 62%;
  width: 12.5%;
  height: 12%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 21.5%;
  left: 73%;
  width: 12%;
  height: 9.5%; 
}
.arrow20{
  position: absolute;
  top: 24%;
  left: 12%;
  width: 7%;
  height: 6%;
}
.arrow21{
  position: absolute;
  top: 23.5%;
  left: 16%;
  width: 6%;
  height: 6%;
  }
.bigarrow{
    position: absolute;
    left: -4%;
    top: -6.2vh;
    width: 150px;
    height: 130px;}
.computers{
  width: 340px;
  height: 190px;}
.item5>ol>li{
  margin: 0px -3px;}
.item5>ol>.copyright{ font-size: 6px;}}
 
@media only screen and (max-width: 360px) {

.chil{padding: 7px 0;
    font-size: 12px;}
.chi{padding: 6px 0;
  font-size: 10px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -23px;}
.arrow1{
  width: 23.5%;
  height: 4%;
 position: absolute;
  top: 28%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 26.5%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 26%;
  left: 69%;
  width: 17.5%;
  height: 8%;
}
.arrow4{
  position: absolute;
  top: 24.8%;
  left: 58%;
  width: 18.5%;
  height: 7.5%;
}
.arrow5{
  position: absolute;
  top: 22.5%;
  left: 8%;
  width: 69.5%;
  height: 7%;
}
.arrow6{
  position: absolute;
  top: 26%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 27.2%;
  left: 45.5%;
  width: 26.5%;
  height: 4%;
}
.arrow13{ 
  position: absolute;
  top: 25%;
  left: 38%;
  width: 16%;
  height: 4%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 23%;
  left: 29.5%;
  width: 9%;
  height: 10.5%;
  }
.arrow16{
  position: absolute;
  top: 25%;
  left: 39%;
  width: 21%;
  height: 8.5%;
}
.arrow17{
  position: absolute;
  top: 24%;
  left: 62%;
  width: 12.5%;
  height: 11.5%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 24.6%;
  left: 73%;
  width: 12%;
  height: 9%; 
}
.arrow20{
  position: absolute;
  top: 26.5%;
  left: 12%;
  width: 7%;
  height: 6%;
}
.arrow21{
  position: absolute;
  top: 27%;
  left: 16%;
  width: 6%;
  height: 5.5%;
  }
.bigarrow{
    position: absolute;
    left: -2%;
    top: -6.2vh;
    width: 125px;
    height: 110px;}
.computers{
  width: 325px;
  height: 190px;}
.data7{
  margin: 8vh;
  margin-bottom: 0vh;}
.item5>ol>li{
  font-size: 10px;}
}
@media only screen and (max-width: 320px) {
.bigcontainer{
  position: absolute;
  top: 74%;
  transform: translate(-50%,-26%);}
.chil5 {
  position: relative;
  top: -10px;
  left: 32px;}
.chil6 {
  position: relative;
  top: 35px;
  left: -18px;}
.arrow1{
  width: 23.5%;
  height: 4%;
 position: absolute;
  top: 27%;
  left: 52%;
}
.arrow2{
  width: 11%;
  height: 3%;
   position: absolute;
  top: 26%;
  left: 87%;
}
.arrow3{
  position: absolute;
  top: 25%;
  left: 69%;
  width: 17.5%;
  height: 8%;
}
.arrow4{
  position: absolute;
  top: 24%;
  left: 58%;
  width: 18.5%;
  height: 7.7%;
}
.arrow5{
  position: absolute;
  top: 21.5%;
  left: 8%;
  width: 69.5%;
  height: 7%;
}
.arrow6{
  position: absolute;
  top: 25%;
  left: 95%;
  width: 10%;
  height: 3%;
}
.arrow9{
  position: absolute;
  top: 26.3%;
  left: 45.5%;
  width: 26.5%;
  height: 4%;
}
.arrow13{ 
  position: absolute;
  top: 24.3%;
  left: 38.5%;
  width: 16%;
  height: 3.5%;
}
.arrow15{transform: rotate(210deg);
  position: absolute;
  top: 22%;
  left: 29.5%;
  width: 9%;
  height: 10.5%;
  }
.arrow16{
  position: absolute;
  top: 24%;
  left: 39%;
  width: 21%;
  height: 8.5%;
}
.arrow17{
  position: absolute;
  top: 23%;
  left: 62%;
  width: 12.5%;
  height: 11%;
}
.arrow18{transform: rotate(-30deg);
 position: absolute;
  top: 24%;
  left: 73%;
  width: 12%;
  height: 9%; 
}
.arrow20{
  position: absolute;
  top: 26%;
  left: 12%;
  width: 7%;
  height: 6%;
}
.arrow21{
  position: absolute;
  top: 26%;
  left: 16%;
  width: 6%;
  height: 6%;
  }
.bigarrow{
    position: absolute;
    left: -2%;
    top: -7.2vh;
    width: 125px;
    height: 110px;}
.computers{
  width: 285px;
  height: 190px;}
.item5>ol>li{
  position: relative;
  left: -33%;
  margin: -2px -6px;}
}
/*
@media only screen and (max-height: 715px) and (min-width: 1024px) {
}
@media only screen and (max-height: 680px) and (min-width: 1024px) {
}