

body {
	background-image: url(wine.jpg);
	background-repeat: no-repeat;
  	background-size: 1200px 1000px;
}

h1{
	border-bottom: 2px solid brown;
	width: 400px;
	text-align: center;
}
button{
	background-color: #FFDE97;
}

button:hover{
	background-color: #FFD16D;
	transform: scale(1.1);
}