  body{
  background-color: rgba();
  
  
} 

.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

.left{
  position: absolute;
  left: 100px;  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}




#Aminadavpic{
      position: absolute;
  left: 130px;
  top: 80px;
}
.avatar{
border-radius: 100%;
}




h2, h3, h5, h6 {
    font-weight: 400;
    text-shadow: 10px 10px 9px #081141;
}
h4{
  font-weight: 400;
text-shadow: -1px 0 red, 0 1px salmon;
}


.content-center{
  position: absolute;
  top: 200px;
  left: 80px;
  text-align: center;
}

.title {
     
    font-weight: 700;
    font-size: 42px;
    padding-top: 30px;
    color: black;
      
}

.category {
    
    color: rgba(18, 17, 12, 0.8);
    font-weight: 400;
 }
.description {
  
    color: rgba(76, 40, 182, 0.8);
}

button{
    font-size: 1em;
      border-radius: 30px;
    font-weight: 400;
    line-height: 1.35em;
    border: none;
    margin: 10px 1px;
    padding: 12px 40px; 
  background-color: #2C6D66;
    color: #FFFFFF;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}





.page-header-image {
    position: absolute;
    right: 0px;
    bottom: 30px;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
opacity: 1;
}






.first{
 display: flex;
 position: absolute;
 top: 80px;
 left: 500px;
 opacity: 0.4;
}
.first:hover {
  opacity: 1;
}


.framea{
  position: absolute;
  top: 110px;
  left: 40px;
}
.frameb{
  position: absolute;
  left: 50px;

}

.framec{
  position: absolute;
  left: 140px;
}
.framed{
  position: absolute;
  left: 300px;
}
.framee{
  position: absolute;
  left: 400px;
}
.framef{
  position: absolute;
  left: 564px;
}
.frameg{
  position: absolute;
  left: 700px;
}
.frameh{
  position: absolute;
  left: 850px;
}
.framei{
   position: absolute;
  top: 110px;
  left: 925px;
}

.MRP{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 839;
  position: absolute;
  top: 28%;
  left: 970px;
border: 2.5px  rgba(3, 36, 66, 0.9);
   border-style: ridge;
   background-color: rgba(151, 192, 229, 0.6);
   border-radius: 12px;
   margin: 3px 10px;
   padding-top: 13px;
   padding-bottom: 13px;
   padding-left: 18px;
   padding-right: 18px;
   text-shadow: 6px 6px 9px white;
}

.arrow5{
  position: absolute;
  top: 149px;
  right: 790px;
}
.arrow6{
  transform:rotate(20deg);
  position: absolute;
  top: 95px;
  right: 810px;
}
.arrow7{
  transform:rotate(20deg);
  position: absolute;
  top: 95px;
  right: 700px;
}
.arrow8{
  transform:rotate(30deg);
  position: absolute;
  top: 95px;
  right: 590px;
}
.arrow9{
  transform:rotate(90deg);
  position: absolute;
  top: 97px;
  right: 480px;
}
.arrow10{
  transform:rotate(150deg);
  position: absolute;
  top: 95px;
  right: 340px;
}
.arrow11{
  transform:rotate(150deg);
  position: absolute;
  top: 95px;
  right: 210px;
}
.arrow12{
   transform:rotate(150deg);
  position: absolute;
  top: 95px;
  right: 100px;
}
.arrow13{
  transform:rotate(180deg);
  position: absolute;
  top: 149px;
  right: 95px;
  opacity: 0.45;
}
.arrow14{
 transform:rotate(90deg);
  position: absolute;
  top: 297px;
  right: 480px; 
}

.arrow{
  opacity: 0.25;
}



.MRP:hover {
  transform: scale(1.1);
}
.Recommendations{
  position: absolute;
  top: 40%;
  left: 940px;
border: 2.5px  rgba(3, 36, 66, 0.9);
   border-style: ridge;
   background-color: rgba(151, 192, 229, 0.6);
   border-radius: 12px;
   margin: 3px 10px;
   font-family: 'Playfair Display', serif;
   font-weight: 839;
   padding-top: 1px;
   padding-bottom: 2px;
   padding-left: 10px;
   padding-right: 10px;
}

.last{
 display: flex;
 position: absolute;
 top: 400px;
 left: 590px;
 opacity: 0.4;

}
.last:hover {
  opacity: 1;
}

.frameaa{
  position: absolute;
  left: 75px;
}
.framebb{
  position: absolute;
  top: 110px;
  left: 0px;
}
.framecc{
position: absolute;
  top: 110px;
  left: 163px;
}
.framedd{
  position: absolute;
  left: 360px;
}
.frameee{
position: absolute;
  top: 100px;
  left: 400px;
}
.frameff{
  position: absolute;
  left: 610px;
}
.framegg{
position: absolute;
  top: 100px;
  left: 610px;
}
.framehh{
position: absolute;
  top: 100px;
  left: 760px;
}



.first>div {
   
   border: 1.5px  rgba(3, 36, 66, 0.9);
   border-style: ridge;
   background-color: rgba(78, 160, 152, 0.3);
   border-radius: 12px;
   margin: 3px 10px;
   padding: 6px;
   font-family: 'Playfair Display', serif;
   font-weight: 839;
   font-size: 18px;
   text-align: center;
   box-shadow:10px 10px 50px white;
  }
  .last>div {
 border: 1.5px  rgba(3, 36, 66, 0.9);
   border-style: ridge;
   background-color: rgba(78, 160, 152, 0.72);
   border-radius: 12px;
   margin: 3px 10px;
   padding: 6px;
   font-family: 'Playfair Display', serif;
   font-weight: 839;
   text-align: center;
   box-shadow:10px 10px 50px white;
    }

span{
  font-weight: 400;
}

.arrow1{
  transform:rotate(40deg);
 position: absolute;
  top: 456px;
  right: 146px; 
}
.arrow2{
  transform:rotate(90deg);
  position: absolute;
  top: 459px;
  right: 250px;
}
.arrow3{
 transform:rotate(90deg);
  position: absolute;
  top: 400px;
  right: 480px; 
}
.arrow4{
 transform:rotate(90deg);
  position: absolute;
  top: 459px;
  right: 709px; 
}
.arrow44{
 transform:rotate(90deg);
  position: absolute;
  top: 459px;
  right: 817px; 
}


article{
  height: 610px;
}



 .footer {
    height: 80px;
    width: 100%;
    background-color: white;
    position: absolute;
    right: 0px;

}


  ol{
list-style-type: none;

}

ol>li a{

color: rgba(33, 38, 43, 0.8);
}
ol>li a:hover{
  background-color: white;
} 


.copyright{
  position: absolute;
  right: 210px;
  top:30px;
}

.copyright>a{
  color: #FF5913;
}




