<rewrite>
  <rules>
     <rule name="[RULE NAME]" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="https://dorhadari.github.io" />
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.dorhadari.github.io" />
     </conditions>
     <action type="Redirect" url="https://aminadavhadari.github.io" redirectType="Permanent"/>
     </rule>
  </rules>
</rewrite>
