
body{
	width: 100%;

    margin: 0px;
    padding: 0px;
	
}

.nav1 { 
  grid-area: header;
  position: fixed;
  top: 0px;
  left: 6px;
  width: 99%;
  z-index: 4;
}
.nav1>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul>li {
  float: left;
  font-size: 15px;
}
.left{
  margin-left: 8%;  
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul>li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
ul>li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
span{font-size: 17px;}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}




.WMS{
	width: 100%; 
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 70px auto 100px 100px 100px ;
	
}
.child1{
	justify-self: end;
}
h1 {
position: relative;
top: 40px;
left: -15px;
	font-family: 'Times New Roman', serif;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 6px #4DD2EB;}
    h2{position: relative;
	top: -20px;
	left: -15px;
	font-size: 35px;
	text-align: right;
font-family: tahoma, serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    line-height: 1.4;
    text-shadow: 0px 1px 1px #4d4d4d;}
.slash{
	width: 100%;
}
.child3{
	position: relative;
	top: -300%;
	justify-self: center;
	}

 ol{
 	list-style-type: none;
	position: relative;
	top: -284px;
	right: 32%;
	text-align-last: right;
	 font-family: tahoma, serif;
	 font-size: 25px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-weight: 900;
    line-height: 1.4;
    text-shadow: 0px 1px 1px #4d4d4d;
    background-color: rgba(252,252,252,0.4);
     border: 4px solid rgba(0,0,0, 0.1);
}
.child3>img{
	position: relative;
	top: -520px;
	left: 98%;
	box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.7);
	z-index: 1;
}
.child4{
	width: 100%;}
.child4>img{position: relative;
	top: -60vh;
z-index: -1}

.child5{
position: relative;
top: -100%;
}
.child6{width: 100%;
position: relative;
top: -100%;
}
.card{
	position: absolute;
	top: 0%;
	left: 67%;
}
button{cursor: pointer;
	position: relative;
	top: 100px;
	left: 45%;
	margin: 0px;
}
.h3{ cursor: pointer;
	font-size: 23px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	z-index: 2;
}
.arrow{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 17%;
	transform: rotate(180deg);
	z-index: 2;
}

@media (max-width: 1024px) {
.WMS{
	width: 100%; 
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 70px auto 100px 100px 100px ;	
}
.child1{
	position: relative;
	left: -10%;
}
h1 {
    font-size: 35px;}
    h2{position: relative;
	top: -20px;
	left: -15px;
	font-size: 25px;
    text-shadow: 0px 1px 1px #4d4d4d;}
.slash{
	width: 100%;
}
.child3{
	position: relative;
	top: -200%;
	}

 .ol>ol{position: relative;
 	top: -10vh;
 	left: -50px;
	 font-size: 18px;

}
.child3>img{
	position: relative;
	top: -300px;
	left: 96%;
	width: 150px;
	height: 170px;
}
.child4{
	position: relative;
	top: 35vh;
	width: 100%;}
.child4>img{position: relative;
	top: -60vh;
	width: 500px;
	height: 500px;
z-index: -1}

.child5{
position: relative;
top: -40%;
}
.child6{width: 100%;
position: relative;
top: -40%;
}
.card{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 35%;
}
button{cursor: pointer;
	position: relative;
	top: 10px;
	left: 40%;
	margin: 0px;
}
.h3{ cursor: pointer;
	font-size: 18px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	z-index: 2;
}
.arrow{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 17%;
	transform: rotate(180deg);
	z-index: 2;
}}

@media (max-width: 768px) {
	.child3>img{
	position: relative;
	top: -200px;
	left: 77%;
	width: 150px;
	height: 170px;
}
.slash{
	position: relative;
	top: 10%;
}
.child4>img{position: relative;
	top: -57vh;}
 .ol>ol{position: relative;
 	top: -5vh;}
.child5{
position: relative;
top: 115%;
}
.child6{width: 100%;
position: relative;
top: 550%;
}}
@media (max-width: 414px) {
ul>li {
  font-size: 13px;
}
.child1{
	position: relative;
	left: 0%;
}
h1 {
    font-size: 20px;}
    h2{position: relative;
	top: 0px;
	left: -17px;
	font-size: 15px;
    text-shadow: 0px 1px 1px #4d4d4d;}
.slash{
	width: 100%;
}
.child3{
	position: relative;
	top: -200%;
	}

 .ol>ol{position: relative;
 	top: 7vh;
 	left: -40px;
	 font-size: 11px;}
.child3>img{
	position: relative;
	top: -20px;
	left: 73%;
	width: 90px;
	height: 110px;
}
.child4{
	position: relative;
	top: 35vh;
	width: 100%;}
.child4>img{position: relative;
	top: -62vh;
	width: 418px;
	height: 418px;
z-index: -1}

.child5{
position: relative;
top: 50%;
left: 9%;
}
.child6{width: 100%;
position: relative;
top: 70%;
left: 9%;
}
.card{
	width: 190px;
	height: 90px;
	position: absolute;
	top: 20%;
	left: 18%;
}
button{cursor: pointer;
	position: relative;
	top: 70px;
	left: 24%;
	margin: 0px;
}
.h3{ cursor: pointer;
	font-size: 15px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	z-index: 2;
}
.arrow{
	width: 100px;
	height: 100px;
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 17%;
	transform: rotate(180deg);
	z-index: 2;
}}
@media (max-width: 375px) {
	ul>li {
  font-size: 12px;
}
	h1 {
    font-size: 17px;}
	.child3>img{
	position: relative;
	top: 6px;
	left: 73%;
	width: 80px;
	height: 100px;
}
.ol{
	width: 400px;
}
.ol>ol{position: relative;
 	top: 8vh;
 	font-size: 11px;}
.child4>img{position: relative;
	top: -58vh;
width: 375px;
	height: 375px;}
.slash{
	width: 100%;
}
.child5{
position: relative;
left: 7%;
}
.child6{width: 100%;
position: relative;
left: 7%;
}}
@media (max-width: 360px) {
ul>li {
  margin: -3px;
}
.ol>ol{position: relative;
 	top: 11.5vh;
 	left: -30px;
 	font-size: 11px;}
.child4>img{position: relative;
	top: -62vh;
width: 360px;
	height: 360px;}
 .child5{
position: relative;
left: 7%;
}
.child6{width: 100%;
position: relative;
left: 8%;
}}
 @media (max-width: 320px) {
 	ul>li {
  font-size: 10px;
  margin: -5px;
}
.child3{ position: relative;
top: -182%; }
.ol>ol{
 	font-size: 9px;}
 	.child4>img{position: relative;
	top: -66vh;
width: 330px;}
.child5{
position: relative;
left: 4%;
}
.child6{width: 100%;
position: relative;
left: 6%;
}}